@font-face {
	font-family: ModernHandFraktur;
	font-weight: normal;
	src: url("modern-hand-fraktur.regular.ttf");
}

@font-face {
	font-family: Fanhen;
	font-weight: normal;
	src: url("fanhen.regular.otf");
}

@font-face {
	font-family: Backyard;
	font-weight: normal;
	src: url("backyard.black-personal.ttf");
}

details {
	margin-bottom: 2.4rem;
	border: 2px solid green;
	padding: 10px;
}

details p {
	margin-bottom: 0px;
}

.hero {
	text-align: center;
}

.sample {
	background-color: #d1d1d1;
	color: #393939;
}

#mainTitle {
	font-size: 400%;
	font-family: Backyard, serif;
}

body {
	font-family: sans-serif;
}

h1, h2, h3, h4 {
	font-family: serif;
}

#logo {
	margin: 40px auto;
	display: block;
	width: 200px;
	border-radius: 50%;
}
