@font-face {
	font-family: ModernHandFraktur;
	font-weight: normal;
	src: url("modern-hand-fraktur.regular.ttf");
}

#mainTitle {
	font-size: 300%;
	font-family: ModernHandFraktur, serif;
}

body {
	font-family: sans-serif;
}

h1, h2, h3, h4 {
	font-family: serif;
}

#logo {
	margin: 40px auto;
	display: block;
	width: 200px;
	border-radius: 50%;
}
