@font-face {
	font-family: ModernHandFraktur;
	font-weight: normal;
	src: url("modern-hand-fraktur.regular.ttf");
}

@font-face {
	font-family: Fanhen;
	font-weight: normal;
	src: url("fanhen.regular.otf");
}

@font-face {
	font-family: Backyard;
	font-weight: normal;
	src: url("backyard.black-personal.ttf");
}

.hero {
	text-align: center;
}

#mainTitle {
	font-size: 300%;
	font-family: Backyard, serif;
}

body {
	font-family: sans-serif;
}

h1, h2, h3, h4 {
	font-family: serif;
}

#logo {
	margin: 40px auto;
	display: block;
	width: 200px;
	border-radius: 50%;
}
